* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Open-Sans, Roboto, Montserrat;
    background-color: #292841;
}

header {
    max-width: 100%;
    background-color: #AEAEAE;
    height: 55.66px;
}

.logo {
    max-width: 1000px;
    height: 55.66px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo img {
    width: 55px;
}

.logo h1 {
    padding: 10px 0px;
    overflow: hidden;
    display: inline-block;
    font-size: 30px;
}

nav {
    max-width: 100%;
    background-color: #D1CECE;
}

.navegation {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
}

.navegation li {
    vertical-align: middle;
    padding: 12px 0px;
    display: inline-block;
    list-style: none;
    margin-left: 250.7px;
}

#home {
    margin-left: 0px;
}

.navegation a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navegation a:hover {
    color: #ffff;
}

main {
    max-width: 100%;
}

h2 {
    color: #ffff;
    font-size: 50px;
}

p {
    color: #ffff;
    margin-top: 71px;
    font-size: 30px;
}

.content {
    max-width: 1755PX;
    margin-top: 10.41%;
    margin-left: auto;
    margin-right: auto;
    height: 480px;
}

.calculator {
    width: 480px;
    float: left;
}

.content_discord {
    display: inline-block;
    text-align: center;
    width: 396px;
    margin-top: 0px;
    height: 480px;
    overflow: hidden;
}

#discord {
    text-decoration: none;
}

.discord {
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h3 {
    color: #ffff;
    font-size: 43px;
}

.texts {
    text-align: center;
    display: inline-block;
    height: 480px;
    overflow: hidden;
}

.forma {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}